/* 픽셀 아이콘 (지도용) */
.emoji-icon img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  display: block;
  margin: 0 auto;
}

/* 픽셀 아이콘 (패널용) */
.panel-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  display: inline-block;
  margin-right: 2px;
}
